body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ecebf3;
}

#frame {
    display: flex;
    height: 50vh;
    width: 50vw;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: black 1px solid;
    box-shadow: 10px 15px 25px black;
    border-radius: 25px;
}

#login-form {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    height: 100%;
    width: 50%;
    justify-content: center;
    align-items: center;
    border: black 1px solid;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#form {
    display: flex;
    background-image: linear-gradient(90deg, rgba(231,3,35,1) 0%, rgba(254,78,102,1) 100%);
    flex-direction: column;
    height: 100%;
    width: 50%;
    justify-content: center;
    align-items: center;
    border: black 1px solid;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-left: #fe6e78;
}

#sign-up-button {
    height: 15%;
    width: 55%;
    background-color: transparent;
    font-size: 220%;
    border: white 2px solid;
    border-radius: 30px;
    color: white;
}

#form-username, #form-password, #form-email, #form-lastname, #form-name, #form-confirm {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 150%;
    height: 7%;
    width: 40%;
}

#login-username {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 150%;
    height: 7%;
    width: 40%;
}

#login-password {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 150%;
    height: 7%;
    width: 40%;
}

#login-username, #login-password {
    margin-bottom: 20px;
}

#login-button {
    height: 15%;
    width: 55%;
    background-color: transparent;
    font-size: 200%;
    border: white 2px solid;
    border-radius: 30px;
    background-image: linear-gradient(90deg, rgba(231,3,35,1) 0%, rgba(254,78,102,1) 100%);
    margin-bottom: 28%;
}

#login-button:hover {
    color: white;
    cursor: pointer;
}

#sign-up-button:hover {
    color: black;
    cursor: pointer;
    border: black 2px solid
}

#login-form-welcome {
    font-size: 300%;
    margin-bottom: 5vh;
}